<h2>{{_messageH2}}</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>                            
                <th>Firstname</th>                            
                <th>Lastname</th>                                
                <th>Picture</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of _users">
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.lastname}}
                </td>
                <td>
                    {{user.pict}}
                </td>    
                <td><a class="glyphicon glyphicon-trash" (click)="trash_clicked(user.id)"></a></td>            
            </tr> 
        </tbody>
    </table>
</div>

<flash-box [type]="success" [position]="tr" [max-width]="300px" [setTimeout]=2000 #pup_ok>
    <div style="border-type: solid; border-width:2px">
       <label style="color: rgb(0,0,0); text-decoration: underline;">Information message</label>
   </div>
   <label>
       Users list successfully retrieved
   </label>
</flash-box>

<flash-box [type]="warning" [position]="tr" [max-width]="300px" [setTimeout]=2000 #pup_not_ok>
    <div style="border-type: solid; border-width:2px">
       <label style="color: rgb(0,0,0); text-decoration: underline;">Information message</label>
   </div>
   <label>
      Error during user retrival
   </label>
</flash-box>

<flash-box [type]="success" [position]="tr" [max-width]="300px" [setTimeout]=2000 #pup_deleted_ok>
    <div style="border-type: solid; border-width:2px">
       <label style="color: rgb(0,0,0); text-decoration: underline;">Information message</label>
   </div>
   <label>
       Users successfully deleted
   </label>
</flash-box>

<flash-box [type]="warning" [position]="tr" [max-width]="300px" [setTimeout]=2000 #pup_deleted_not_ok>
    <div style="border-type: solid; border-width:2px">
       <label style="color: rgb(0,0,0); text-decoration: underline;">Information message</label>
   </div>
   <label>
      Error during user deletion
   </label>
</flash-box>


