<h2>{{_messageH2}}</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>                            
                <th>Firstname</th>                            
                <th>Lastname</th>                                
                <th>Picture</th>                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of _users">
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.lastname}}
                </td>
                <td>
                    {{user.pict}}
                </td>    
                <td><a class="glyphicon glyphicon-trash" (click)="trash_clicked(user.id)"></a></td>            
            </tr> 
        </tbody>
    </table>
</div>

<popup ok="true" popUpText="Users list successfully retrieved" #pup_ok></popup>
<popup popUpText="Error during user retrival" #pup_not_ok></popup>
<!--<button (click)="pup_ok.buttonClicked()">Klick</button>
<button (click)="pup_not_ok.buttonClicked()">Klick</button>-->


<popup ok="true" popUpText="Users successfully deleted" #pup_deleted_ok></popup>
<popup popUpText="Error during user deletion" #pup_deleted_not_ok></popup>


