<h2>{{_messageH2}}</h2>

<div class="container" style="width: 500px">
    <form (ngSubmit)="addNewUserClicked(forma)" #forma="ngForm">
        
        <div >
            <div>                    
                <label for="id"><h3>ID :</h3></label>
                <input name="id" class="form-control" id="id" required
                    type="number" [(ngModel)]="_formUser.id" #idSpy="ngModel" min="1" max="999"/>                
                <span *ngIf="idSpy.valid && !idSpy.pristine && idSpy.value<1000" style="color: green" class="glyphicon glyphicon-ok"></span>                                      
                <div *ngIf="!idSpy.valid && !idSpy.pristine" class="label label-danger">* This field is required</div>
                <div *ngIf="idSpy.value>999 && !idSpy.pristine" class="label label-danger">* Value must be below 1000</div>                   
            </div>

            <label for="name"><h3>Name :</h3></label>
            <input name="name" class="form-control" id="name" required
                type="text" [(ngModel)]="_formUser.name" #nameSpy="ngModel" minlength="2" maxlength="30"/>
                <div *ngIf="nameSpy.valid" style="color: green" class="glyphicon glyphicon-ok"></div>
             <div *ngIf="!nameSpy.valid && !nameSpy.pristine" class="label label-danger">* This field is required, min length 2, max length 30 characters</div>
      
            <label for="lastname"><h3>Lastname :</h3></label>
            <input name="lastname" class="form-control" id="lastname" required
                type="text" [(ngModel)]="_formUser.lastname" #lastnameSpy="ngModel" minlength="2" maxlength="30"/>
                <div *ngIf="lastnameSpy.valid" style="color: green" class="glyphicon glyphicon-ok"></div>
            <div *ngIf="!lastnameSpy.valid && !lastnameSpy.pristine" class="label label-danger">* This field is required</div>
       
            <label for="pict"><h3>Picture :</h3></label>
            <input name="pict" class="form-control" id="pict" required
                type="text" [(ngModel)]="_formUser.picture" #pictSpy="ngModel" minlength="2" maxlength="30"/>
                <div *ngIf="pictSpy.valid" style="color: green" class="glyphicon glyphicon-ok"></div>
             <div *ngIf="!pictSpy.valid && !pictSpy.pristine" class="label label-danger">* This field is required</div>
        </div>
      
        <button type="submit" class="btn btn-default" [disabled]="!forma.form.valid">Submit</button>
        <button class="btn btn-default" (click)="save_Clicked()">Click</button>
       <!-- {{_allPristine = idSpy.pristine && nameSpy.pristine && lastnameSpy.pristine && pictSpy.pristine}} -->
            <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>

            <modal #modal>
                <modal-header [show-close]="true">
                    <h4 class="modal-title">I'm a modal!</h4>
                </modal-header>
                <modal-body>
                    Hello World!
                </modal-body>
                <modal-footer [show-default-buttons]="true"></modal-footer>
            </modal>
    </form>
</div>