<h2>{{_messageH2}}</h2>

<div class="container">
    <form (ngSubmit)="addNewUserClicked(forma)" #forma="ngForm">
        
        <div class="form-group">                    
            <label for="id">ID :</label>
            <input name="id" class="form-control" id="id" required
            type="text" [(ngModel)]="_formUser.id"/>
        </div>

        <div class="form-group" >
            <label for="name">Name :</label>
            <input name="name" class="form-control" id="name" required
                type="text" [(ngModel)]="_formUser.name"/>
        </div>

        <div class="form-group">
            <label for="lastname">Lastname :</label>
            <input name="lastname" class="form-control" id="lastname" required
                type="text" [(ngModel)]="_formUser.lastname"/>
        </div>

        <div class="form-group">
            <label for="pict">Picture :</label>
            <input name="pict" class="form-control" id="pict" required
                type="text" [(ngModel)]="_formUser.picture"/>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!forma.form.valid">Submit</button>
    </form>
</div>